@model AdminModel

@{
    ViewData["Title"] = "管理員系統";
}
<div class="container text-center">
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
            <div>
                <a class="nav-link text-white fs-3 btn btn-secondary p-5 mb-3" asp-controller="Admin" asp-action="Daily_Sales_Report">每日報表</a>
            </div>
            <div>
                <a class="nav-link text-white fs-3 btn btn-secondary p-5" asp-controller="Admin" asp-action="Inventory">庫存管理</a>
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-6">
            <div>
                <a class="nav-link text-white fs-3 btn btn-secondary p-5 mb-3" asp-controller="Admin" asp-action="Prediction">銷售預測</a>
            </div>
            <div>
                <a class="nav-link text-white fs-3 btn btn-secondary p-5" asp-controller="Auth" asp-action="Register">新增管理員</a>
            </div>
        </div>
    </div>
</div>

