@model AdminModel

@{
    ViewData["Title"] = "管理員系統";
}
<h2>選擇功能</h2>
<ul class="navbar-nav d-flex align-items-center flex-row gap-5">
    <li class="nav-item">
        <a class="nav-link text-white fs-3 btn btn-secondary p-1" asp-controller="Admin" asp-action="Daily_Sales_Report">每日報表</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fs-3 btn btn-secondary p-1" asp-controller="Admin" asp-action="Inventory">庫存管理</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white fs-3 btn btn-secondary p-1" asp-controller="Admin" asp-action="Prediction">銷售預測</a>
    </li>
    <li>
        <a class="nav-link text-white fs-3 btn btn-secondary p-1" asp-controller="Auth" asp-action="Register">新增管理員</a>
    </li>
</ul>