# 忽略 Git 目錄
.git/
.github/

# 忽略 Python 目錄中的檔案

# 忽略 Web 目錄中的檔案
web/senior_project_web/.vs/
web/senior_project_web/senior_project_web/bin/
web/senior_project_web/senior_project_web/obj/
web/senior_project_web/senior_project_web/Properties/launchSettings.json
web/senior_project_web/senior_project_web/appsettings.Development.json
web/senior_project_web/senior_project_web/senior_project_web.csproj.user

new_web/orderSys/node_modules/
new_web/admin/node_modules/

new_web/orderSys/orderSys_bk/orderSys_bk/.vs/
new_web/orderSys/orderSys_bk/orderSys_bk/wwwroot/images/
new_web/orderSys/orderSys_bk/orderSys_bk/bin/
new_web/orderSys/orderSys_bk/orderSys_bk/obj/
new_web/orderSys/orderSys_bk/orderSys_bk/Properties/launchSettings.json
new_web/orderSys/orderSys_bk/orderSys_bk/appsettings.Development.json
new_web/orderSys/orderSys_bk/orderSys_bk/orderSys_bk.csproj.user

new_web/orderSys/orderSys_bk/.vs/orderSys_bk/config/applicationhost.config
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/CopilotIndices/17.14.878.3237/CodeChunks.db
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/CopilotIndices/17.14.878.3237/SemanticSymbols.db
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/DesignTimeBuild/.dtbcache.v2
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/FileContentIndex/3ae3e634-3729-4f88-878e-2f14c4b3b829.vsidx
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/FileContentIndex/8eac5d1b-8ad6-4c1d-b69e-9faa970ceaa5.vsidx
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/FileContentIndex/45d874b8-6401-4793-8596-a8527cda3b23.vsidx
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/FileContentIndex/87a5d4fa-bb4d-4927-87fe-3ce1a411c45c.vsidx
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/FileContentIndex/375046b4-d6c8-4cf5-9b59-d9b3a0c0c1cc.vsidx
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/v17/.futdcache.v2
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/v17/.suo
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/v17/DocumentLayout.backup.json
new_web/orderSys/orderSys_bk/.vs/orderSys_bk/v17/DocumentLayout.json
new_web/orderSys/orderSys_bk/.vs/ProjectEvaluation/ordersys_bk.metadata.v9.bin
new_web/orderSys/orderSys_bk/.vs/ProjectEvaluation/ordersys_bk.projects.v9.bin
new_web/orderSys/orderSys_bk/.vs/ProjectEvaluation/ordersys_bk.strings.v9.bin
new_web/orderSys/orderSys_bk/orderSys_bk/orderSys_bk.csproj
new_web/orderSys/orderSys_bk/orderSys_bk/orderSys_bk.csproj
python/.vscode/settings.json
python/人臉辨識/__pycache__/image.cpython-310.pyc
new_web/orderSys/orderSys_bk/orderSys_bk/orderSys_bk.csproj
new_web/orderSys/orderSys_bk/orderSys_bk/orderSys_bk.csproj
new_web/orderSys/orderSys_bk/orderSys_bk/orderSys_bk.csproj
