@using System.Security.Claims
@{
    var errMsg = TempData["errMsg"] != null ? Uri.EscapeDataString(TempData["errMsg"].ToString()) : null;
    var successMsg = TempData["successMsg"] != null ? Uri.EscapeDataString(TempData["SuccessMsg"].ToString()) : null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - senior_project_web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/senior_project_web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light custom-navbarcolor border-bottom box-shadow mb-3 py-1">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">senior_project_web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 gap-4">
                        <li class="nav-item">
                            <a class="nav-link p-2 text-dark custom-navbarcolor custom-hover rounded" asp-area="" asp-controller="Home" asp-action="Index">菜單</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2 text-dark custom-navbarcolor custom-hover rounded" asp-area="" asp-controller="Cart" asp-action="Index">購物車</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2 text-dark custom-navbarcolor custom-hover rounded" asp-area="" asp-controller="Admin" asp-action="Index">管理員系統</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2 text-dark custom-navbarcolor custom-hover rounded" asp-area="" asp-controller="Auth" asp-action="UserLogin">用戶登入(人臉辨識串接後刪除)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="px-5 w-100">
        <main role="main" class="pb-3">
            <div class="d-flex justify-content-between align-items-baseline border-bottom mb-3 pb-2">
                <h1 class="m-0">@ViewData["Title"]</h1>
                @{
                    if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <div>
                            <span>Hello, @User.FindFirst(ClaimTypes.Name)?.Value</span>
                            <button>
                                <a asp-controller="Auth" asp-action="AdminLogout">登出系統</a>
                            </button>
                        </div>
                    }
                }
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - senior_project_web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        //
        //全域錯誤訊息(alert)
        //錯誤訊息
        var errMsg = '@errMsg';
        if (errMsg) {
            alert(decodeURIComponent(errMsg));
        }
        //成功訊息
        var successMsg = `@successMsg`;
        if (successMsg) {
            alert(decodeURIComponent(successMsg));
        }
        //
        //全域表單驗證腳本
        //獲取class為needs-validation的表單(需要驗證的表單)
        var forms = document.querySelectorAll('.needs-validation');
        //進行submit表單驗證
        function runValidation() {
            Array.prototype.slice.call(forms).forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }
        //重置表單驗證
        function resetValidation() {
            Array.prototype.slice.call(forms).forEach(function (form) {
                form.classList.remove('was-validated'); // 移除驗證樣式
                form.classList.add('needs-validation'); // 確保仍然具有 needs-validation
            });
        }
        //
        //
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
