html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* ÁôÂÃ¼Æ¦r¿é¤J®Ø®ÇÃäªº«ö¶s */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 170px; /* Spacing between grid items */
    margin-top: 50px;
}

    .button-grid div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.custom-hover:hover {
    background-color: #DE6969; /* Change to your desired background color */
    color: #fff; /* Change text color on hover */
    border-color: #000000; /* Optional: Change border color */
}


